{% extends "model-page.html" %}

{% block content %}

<h2>Evento</h2>
<form action="submit" method="POST">{% csrf_token %}
    <label>Título:</label>
    <br>
    <input type="text" name="título" size="11">
    <br>
    <label>Data do evento:</label>
    <br>
    <input type="date" name="data_evento">
    <br>
    <label>Local do evento:</label>
    <br>
    <input type="text" name="local" size="11">
    <br>
    <label>Descrição:</label>
    <br>
    <textarea name="descrição" rows="5" cols="13"></textarea>
    <br><br>
    <button type="submit">Salvar</button>
    <a href="/">
        <button type="button">Cancelar</button>
    </a>
</form>


{% endblock %}